# Gradle
.gradle/
build/
*.class

# Android
*.apk
*.aab
*.ap_
local.properties
.externalNativeBuild/
.cxx/

# IntelliJ / Android Studio
*.iml
.idea/
*.iws
*.ipr

# Kotlin
*.kotlin_module

# OS
.DS_Store
Thumbs.db

# Secrets
google-services.json
*.keystore
*.jks

#env
run.ps1

# Backend logs & Kotlin compiler errors
backend/logs/
backend/.kotlin/

# Misc
project_file_structure.txt